In [56]:
import plotly.io as pio
pio.renderers.default="kaggle"

In [57]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns
import numpy as np

In [58]:
pd.set_option('display.max_columns',None)
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] =(15,5)

In [59]:
pd.set_option('display.max_columns',None)

In [60]:
df = pd.read_csv('../datasets/Airplane_data.csv',index_col=0)

In [61]:
df.shape

(5268, 12)

In [62]:
df.size

63216

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5268 entries, 09/17/1908 to 06/08/2009
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Time          3049 non-null   object
 1   Location      5248 non-null   object
 2   Operator      5250 non-null   object
 3   Flight #      1069 non-null   object
 4   Route         3562 non-null   object
 5   Type          5241 non-null   object
 6   Registration  4933 non-null   object
 7   cn/In         4040 non-null   object
 8   Aboard        5246 non-null   float64
 9   Fatalities    5256 non-null   float64
 10  Ground        5246 non-null   float64
 11  Summary       4878 non-null   object
dtypes: float64(3), object(9)
memory usage: 535.0+ KB

In [64]:
df

,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,,,
09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...
...,...,...,...,...,...,...,...,...,...,...,...,...
05/20/2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
05/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
06/01/2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
06/07/2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...

In [65]:
df.head()

,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,,,
09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [66]:
df.tail()

,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,,,
05/20/2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
05/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
06/01/2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
06/07/2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...

In [67]:
df.isin(['NaN']).any()

Time            False
Location        False
Operator        False
Flight #        False
Route           False
Type            False
Registration    False
cn/In           False
Aboard          False
Fatalities      False
Ground          False
Summary         False
dtype: bool

In [68]:
df.isnull().sum()

Time            2219
Location          20
Operator          18
Flight #        4199
Route           1706
Type              27
Registration     335
cn/In           1228
Aboard            22
Fatalities        12
Ground            22
Summary          390
dtype: int64

In [69]:
print(df.columns.tolist())

['Time', 'Location', 'Operator', 'Flight #', 'Route', 'Type', 'Registration', 'cn/In', 'Aboard', 'Fatalities', 'Ground', 'Summary']

In [70]:
df['Registration'].unique()

array([nan, '97', '61', ..., '9Q-CSA', 'F-GZCP', 'C-FJJR\xa0'],
      dtype=object)

In [71]:
df['Registration'].nunique('Registration')

4905

In [72]:
df['Time'].unique()

array(['17:18', '06:30', nan, ..., '01:25', '03:57', '15:32'],
      dtype=object)

In [73]:
df.isnull()

,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,,,
09/17/1908,False,False,False,True,False,False,True,False,False,False,False,False
07/12/1912,False,False,False,True,False,False,True,True,False,False,False,False
08/06/1913,True,False,False,False,True,False,True,True,False,False,False,False
09/09/1913,False,False,False,True,True,False,True,True,False,False,False,False
10/17/1913,False,False,False,True,True,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
05/20/2009,False,False,False,True,False,False,False,False,False,False,False,False
05/26/2009,True,False,False,True,False,False,False,False,False,False,True,False
06/01/2009,False,False,False,False,False,False,False,False,False,False,False,False
06/07/2009,False,False,False,True,False,False,False,False,False,False,False,False
06/08/2009,True,False,False,True,False,False,True,True,False,False,False,False

In [74]:
df.drop(['Flight #','Time'],axis =1,inplace=True)

In [75]:
df

,Location,Operator,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,
09/17/1908,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
07/12/1912,"AtlantiCity, New Jersey",Military - U.S. Navy,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
08/06/1913,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
09/09/1913,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
10/17/1913,"Near Johannisthal, Germany",Military - German Navy,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...
...,...,...,...,...,...,...,...,...,...,...
05/20/2009,"Near Madiun, Indonesia",Military - Indonesian Air Force,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
05/26/2009,"Near Isiro, DemocratiRepubliCongo",Service Air,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
06/01/2009,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
06/07/2009,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
06/08/2009,"State of Arunachal Pradesh, India",Military - Indian Air Force,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...

In [76]:
{column :len(df[column].unique()) for column in df.columns}

{'Location': 4304,
 'Operator': 2477,
 'Route': 3245,
 'Type': 2447,
 'Registration': 4906,
 'cn/In': 3708,
 'Aboard': 240,
 'Fatalities': 192,
 'Ground': 51,
 'Summary': 4674}

pd.get_dummies(df['Location'])

df.set_index('Location',inplace=True)
df.head()

In [77]:
df.isin(['NaN']).any()

Location        False
Operator        False
Route           False
Type            False
Registration    False
cn/In           False
Aboard          False
Fatalities      False
Ground          False
Summary         False
dtype: bool

In [78]:
df

,Location,Operator,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,
09/17/1908,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
07/12/1912,"AtlantiCity, New Jersey",Military - U.S. Navy,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
08/06/1913,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
09/09/1913,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
10/17/1913,"Near Johannisthal, Germany",Military - German Navy,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...
...,...,...,...,...,...,...,...,...,...,...
05/20/2009,"Near Madiun, Indonesia",Military - Indonesian Air Force,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
05/26/2009,"Near Isiro, DemocratiRepubliCongo",Service Air,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
06/01/2009,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
06/07/2009,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
06/08/2009,"State of Arunachal Pradesh, India",Military - Indian Air Force,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...

In [79]:
df['Location']

Date
09/17/1908                                  Fort Myer, Virginia
07/12/1912                              AtlantiCity, New Jersey
08/06/1913                   Victoria, British Columbia, Canada
09/09/1913                                   Over the North Sea
10/17/1913                           Near Johannisthal, Germany
                                    ...
05/20/2009                               Near Madiun, Indonesia
05/26/2009                    Near Isiro, DemocratiRepubliCongo
06/01/2009    AtlantiOcean, 570 miles northeast of Natal, Br...
06/07/2009         Near Port Hope Simpson, Newfoundland, Canada
06/08/2009                    State of Arunachal Pradesh, India
Name: Location, Length: 5268, dtype: object

In [80]:
df["Fatalities"]

Date
09/17/1908      1.0
07/12/1912      5.0
08/06/1913      1.0
09/09/1913     14.0
10/17/1913     30.0
              ...
05/20/2009     98.0
05/26/2009      4.0
06/01/2009    228.0
06/07/2009      1.0
06/08/2009     13.0
Name: Fatalities, Length: 5268, dtype: float64

In [81]:
df.isnull().sum()

Location          20
Operator          18
Route           1706
Type              27
Registration     335
cn/In           1228
Aboard            22
Fatalities        12
Ground            22
Summary          390
dtype: int64

In [82]:
import numpy as np

In [83]:

df.Location.value_counts()

Sao Paulo, Brazil                    15
Moscow, Russia                       15
Rio de Janeiro, Brazil               14
Anchorage, Alaska                    13
Manila, Philippines                  13
                                     ..
Near Charana, Bolivia                 1
Monte Matto, Italy                    1
Misaki Mountain, Japan                1
Angelholm, Sweden                     1
State of Arunachal Pradesh, India     1
Name: Location, Length: 4303, dtype: int64

In [84]:
df.columns.to_list()

['Location',
 'Operator',
 'Route',
 'Type',
 'Registration',
 'cn/In',
 'Aboard',
 'Fatalities',
 'Ground',
 'Summary']

In [85]:
maxoccurance = df.Location.value_counts().idxmax()

In [86]:
df.Location.replace(np.nan,maxoccurance,inplace=True)

In [87]:
df.isnull().sum()

Location           0
Operator          18
Route           1706
Type              27
Registration     335
cn/In           1228
Aboard            22
Fatalities        12
Ground            22
Summary          390
dtype: int64

In [88]:
df.Operator.value_counts()
maxoccurance = df.Operator.value_counts().idxmax()
df.Operator.replace(np.nan,maxoccurance,inplace=True)
df['Operator'].value_counts()

Aeroflot                               197
Military - U.S. Air Force              176
Air France                              70
Deutsche Lufthansa                      65
China National Aviation Corporation     44
                                      ...
Military - Argentine Navy                1
Richland Flying Service - Air Taxii      1
Harbor Airlines - Air Taxi               1
Aerovias Venezolanas SA (Venezuela)      1
Strait Air                               1
Name: Operator, Length: 2476, dtype: int64

In [89]:
df.Route.value_counts()
maxoccurance = df.Route.value_counts().idxmax()
df.Route.replace(np.nan,maxoccurance,inplace=True)
df['Route'].value_counts()

Training                      1787
Sightseeing                     29
Test flight                     17
Test                             6
Sao Paulo - Rio de Janeiro       5
                              ...
Manila - Lapu Lapu               1
Saint Denis - Paris              1
Cork - London                    1
Peoria, IL - St. Louis, MO       1
Mechuka for Jorhat               1
Name: Route, Length: 3244, dtype: int64

In [90]:
df.Type.value_counts()
maxoccurance = df.Type.value_counts().idxmax()
df.Type.replace(np.nan,maxoccurance,inplace=True)
df['Type'].value_counts()

Douglas DC-3                                361
de Havilland Canada DHC-6 Twin Otter 300     81
Douglas C-47A                                74
Douglas C-47                                 62
Douglas DC-4                                 40
                                           ...
Boeing 727-21                                 1
NAMC-YS-11-111                                1
Lockheed EC-121H                              1
Cessna 205A                                   1
Airbus A330-203                               1
Name: Type, Length: 2446, dtype: int64

In [91]:
df.Registration.value_counts()
maxoccurance = df.Registration.value_counts().idxmax()
df.Registration.replace(np.nan,maxoccurance,inplace=True)
df['Registration'].value_counts()

49            338
N864JA          2
CCCP-46724      2
012             2
128441          2
             ...
PI-C489         1
N842D           1
N724US          1
CCCP-11193      1
C-FJJR          1
Name: Registration, Length: 4905, dtype: int64

In [92]:
df.rename(columns={

'cn/In':'Serial_Number'
}, inplace=True)
df.head()

,Location,Operator,Route,Type,Registration,Serial_Number,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,
09/17/1908,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,49,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
07/12/1912,"AtlantiCity, New Jersey",Military - U.S. Navy,Test flight,Dirigible,49,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
08/06/1913,"Victoria, British Columbia, Canada",Private,Training,Curtiss seaplane,49,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
09/09/1913,Over the North Sea,Military - German Navy,Training,Zeppelin L-1 (airship),49,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
10/17/1913,"Near Johannisthal, Germany",Military - German Navy,Training,Zeppelin L-2 (airship),49,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [93]:
df.Serial_Number.value_counts()
maxoccurance = df.Serial_Number.value_counts().idxmax()
df.Serial_Number.replace(np.nan,maxoccurance,inplace=True)
df['Serial_Number'].value_counts()

178         1234
229            5
19             5
213            5
125            5
            ...
1114           1
19410          1
42929          1
45794/52       1
424            1
Name: Serial_Number, Length: 3707, dtype: int64

In [94]:
df.Aboard.value_counts()
maxoccurance = df.Aboard.value_counts().idxmax()
df.Aboard.replace(np.nan,maxoccurance,inplace=True)
df['Aboard'].value_counts()

2.0      399
3.0      370
4.0      296
5.0      239
6.0      223
        ...
240.0      1
218.0      1
192.0      1
269.0      1
228.0      1
Name: Aboard, Length: 239, dtype: int64

In [95]:
df.Fatalities.value_counts()
maxoccurance = df.Fatalities.value_counts().idxmax()
df.Fatalities.replace(np.nan,maxoccurance,inplace=True)
df['Fatalities'].value_counts()

2.0      540
3.0      458
1.0      409
4.0      328
5.0      260
        ...
256.0      1
159.0      1
290.0      1
259.0      1
228.0      1
Name: Fatalities, Length: 191, dtype: int64

In [96]:
df.Ground.value_counts()
maxoccurance = df.Ground.value_counts().idxmax()
df.Ground.replace(np.nan,maxoccurance,inplace=True)
df['Ground'].value_counts()

0.0       5049
1.0         53
2.0         27
3.0         21
4.0         15
5.0         10
8.0         10
7.0          8
11.0         6
6.0          6
22.0         5
13.0         4
24.0         3
10.0         3
44.0         3
20.0         3
14.0         2
2750.0       2
30.0         2
12.0         2
19.0         2
47.0         2
52.0         2
70.0         2
54.0         1
18.0         1
45.0         1
16.0         1
35.0         1
50.0         1
23.0         1
225.0        1
125.0        1
75.0         1
15.0         1
32.0         1
49.0         1
9.0          1
40.0         1
36.0         1
113.0        1
107.0        1
33.0         1
87.0         1
31.0         1
63.0         1
17.0         1
37.0         1
58.0         1
85.0         1
Name: Ground, dtype: int64

In [97]:
df.Summary.value_counts()
maxoccurance = df.Summary.value_counts().idxmax()
df.Summary.replace(np.nan,maxoccurance,inplace=True)
df['Summary'].value_counts()

Crashed during takeoff.                                                                                                                                                                                                                                                                                                                        405
Crashed into the sea.                                                                                                                                                                                                                                                                                                                           12
Crashed into a mountain.                                                                                                                                                                                                                                                                                                                        12
Crashed while en route.                                                                                                                                                                                                                                                                                                                         12
Struck a mountain.                                                                                                                                                                                                                                                                                                                              11
                                                                                                                                                                                                                                                                                                                                              ...
Shortly after taking off, the aircraft made a left bank attempting to return to McConnell Air Force Base and transmitted a distress message. Soon after, the plane crashed to the ground in a nose-down attitude into houses. Remains of a parachute were found in the No. 1 engine which may have led to an asymmetrical thrust condition.      1
Crashed while en-route. VFR flight into adverse weather conditions.                                                                                                                                                                                                                                                                              1
Crashed while en-route. Pilot flew into adverse weather conditions. Spatial disorientation.                                                                                                                                                                                                                                                      1
The cargo plane veered off course and struck trees while attempting to land.  Loss of control during night instrument approach in adverse weather for undetermined reasons.                                                                                                                                                                      1
The military transport went missing while en route and might have crashed due to heavy rain in the mountainous region.                                                                                                                                                                                                                           1
Name: Summary, Length: 4673, dtype: int64

In [98]:
df.isnull().sum()

Location         0
Operator         0
Route            0
Type             0
Registration     0
Serial_Number    0
Aboard           0
Fatalities       0
Ground           0
Summary          0
dtype: int64

In [99]:
df.isnull()

,Location,Operator,Route,Type,Registration,Serial_Number,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,
09/17/1908,False,False,False,False,False,False,False,False,False,False
07/12/1912,False,False,False,False,False,False,False,False,False,False
08/06/1913,False,False,False,False,False,False,False,False,False,False
09/09/1913,False,False,False,False,False,False,False,False,False,False
10/17/1913,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
05/20/2009,False,False,False,False,False,False,False,False,False,False
05/26/2009,False,False,False,False,False,False,False,False,False,False
06/01/2009,False,False,False,False,False,False,False,False,False,False
06/07/2009,False,False,False,False,False,False,False,False,False,False
06/08/2009,False,False,False,False,False,False,False,False,False,False

In [100]:
df.isnull().sum()

Location         0
Operator         0
Route            0
Type             0
Registration     0
Serial_Number    0
Aboard           0
Fatalities       0
Ground           0
Summary          0
dtype: int64

In [101]:
import matplotlib.pyplot as plt

In [102]:
df['Location'].value_counts()

Sao Paulo, Brazil                    35
Moscow, Russia                       15
Rio de Janeiro, Brazil               14
Manila, Philippines                  13
Bogota, Colombia                     13
                                     ..
Near Charana, Bolivia                 1
Monte Matto, Italy                    1
Misaki Mountain, Japan                1
Angelholm, Sweden                     1
State of Arunachal Pradesh, India     1
Name: Location, Length: 4303, dtype: int64

In [103]:
df.sort_values(by='Location',inplace=True)
df.head()

,Location,Operator,Route,Type,Registration,Serial_Number,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,
08/01/1948,"1,200 miles off Dakar, AtlantiOcean",Air France,Fort de France - Port Etienne,Latecoere 631 (flying boat),F-BDRC,06,52.0,52.0,0.0,Disappeared in the Atlantion a flight from For...
08/10/1997,"100 miles SW of Kuujjuaq, Quebec, Canada",Private,Training,Cessna 180K,C-GIGK,18053048,2.0,2.0,0.0,"French Canadian actress Marie-Soleil Tougas, 2..."
10/04/2001,"110 miles SW of Sochi, Russia",Sibir Airlines,"Tel Aviv - Novosibirsk, Russia",Tupolev Tu-154M,RA-85693,90A-866,78.0,78.0,0.0,"The aircraft exploded in mid-air at 36,000 ft...."
11/08/2003,"200 miles NE of Derby, Australia",Heliwork WA Pty Ltd. - Air Taxi,Training,Robertson R44 helicopter,VH-YKL,0170,4.0,4.0,0.0,The helicopter crashed in the remote outback a...
01/15/1953,"25 nm off Agrigento, Italy",Military -Royal Air Force,Training,Vickers Valetta Mk1 / Avero Lancaster,VX562 / TX270,178,26.0,26.0,0.0,Crashed during takeoff.

In [105]:
df.sort_values(by='Serial_Number',inplace=True)
df.head()

,Location,Operator,Route,Type,Registration,Serial_Number,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,
04/12/1973,"Moffett AFB, California",Military - U.S. Navy,Training,Lockheed P-3C Orion /Convair CV-990,N711NA / 157332,/ 185-5547,16.0,15.0,0.0,Mid-air collision while landing. Five of 6 on ...
06/21/1996,"Shanghai, China",China Flying Dragon Aviation (Feilong Airlines),Dalian - Shanghai,Harbin Yunshuji Y-12-II,B-3822,0001,12.0,2.0,0.0,The aircraft crashed into a mountain after dev...
11/07/1960,"Near Quito, Ecuador",AREA,Guayaquil - Quito,Fairchild F-27A,HC-ADV,0001A,37.0,37.0,0.0,Crashed into a mountain 20 miles south of the ...
02/25/1962,"Portlamar, Margarita Island, Venezuela",Avensa,Porlamar - Cumana,Fairchild F-27,YV-C-EVH,0012,23.0,23.0,0.0,"Approximately 10 minutes after takeoff , for a..."
04/29/1994,"Near El Rosa, Colombia",Lineas Aereas de los Libertadores,Furatena - Quipama - Boyaca - Bogota,Cessna 208 Caravan I,HK-3479,00143,9.0,8.0,0.0,Crashed into a mountain while inbound for Bogota.

In [ ]:
df.head()

,Location,Operator,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,
04/12/1973,"Moffett AFB, California",Military - U.S. Navy,NaN,Lockheed P-3C Orion /Convair CV-990,N711NA / 157332,/ 185-5547,16.0,15.0,0.0,Mid-air collision while landing. Five of 6 on ...
06/21/1996,"Shanghai, China",China Flying Dragon Aviation (Feilong Airlines),Dalian - Shanghai,Harbin Yunshuji Y-12-II,B-3822,0001,12.0,2.0,0.0,The aircraft crashed into a mountain after dev...
11/07/1960,"Near Quito, Ecuador",AREA,Guayaquil - Quito,Fairchild F-27A,HC-ADV,0001A,37.0,37.0,0.0,Crashed into a mountain 20 miles south of the ...
02/25/1962,"Portlamar, Margarita Island, Venezuela",Avensa,Porlamar - Cumana,Fairchild F-27,YV-C-EVH,0012,23.0,23.0,0.0,"Approximately 10 minutes after takeoff , for a..."
04/29/1994,"Near El Rosa, Colombia",Lineas Aereas de los Libertadores,Furatena - Quipama - Boyaca - Bogota,Cessna 208 Caravan I,HK-3479,00143,9.0,8.0,0.0,Crashed into a mountain while inbound for Bogota.

In [ ]:
df.tail()

,Location,Operator,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,
10/21/1926,English Channel,Imperial Airways,NaN,Handley Page W-10,G-EBMS,W10/3,12.0,0.0,0.0,The plane was on a flight from London to Paris...
06/17/1929,"Off Dungeness, England",Imperial Airways,NaN,Handley Page W-10,G-EBMT,W10/4,13.0,7.0,0.0,The plane was over the English Channel when an...
10/30/1930,"Near Neufchatel, France",Imperial Airways,"Paris, France - London, England",Handley Page W-8,G-EBIX,W8-7,6.0,3.0,0.0,Crashed into high ground in fog after losing a...
02/21/2002,"Lakhta, Russia",Military - Russian Navy,Sanofov - Lakhta,Antonov AN-26,07RED,ZR726001,20.0,17.0,0.0,The plane was making an emergency landing afte...
03/25/2000,"Huambo, Angola",Uralex,Huambo - Luanda,Antonov AN-32,D2-MAJ,ZZX3201,33.0,3.0,0.0,"The aircraft, leased from a Ukrainian company,..."

In [ ]:
years = range(1908,2009)

In [ ]:
df.describe()

,Location,Operator,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
count,5268,5268,5268,5268,5268,5268,5268.0,5268.0,5268.0,5268
unique,4304,2477,3245,2447,4906,3708,240.0,192.0,51.0,4674
top,NaN,Aeroflot,NaN,Douglas DC-3,NaN,NaN,2.0,2.0,0.0,NaN
freq,20,179,1706,334,335,1228,377.0,528.0,5027.0,390

In [ ]:
df

,Location,Operator,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,
04/12/1973,"Moffett AFB, California",Military - U.S. Navy,NaN,Lockheed P-3C Orion /Convair CV-990,N711NA / 157332,/ 185-5547,16.0,15.0,0.0,Mid-air collision while landing. Five of 6 on ...
06/21/1996,"Shanghai, China",China Flying Dragon Aviation (Feilong Airlines),Dalian - Shanghai,Harbin Yunshuji Y-12-II,B-3822,0001,12.0,2.0,0.0,The aircraft crashed into a mountain after dev...
11/07/1960,"Near Quito, Ecuador",AREA,Guayaquil - Quito,Fairchild F-27A,HC-ADV,0001A,37.0,37.0,0.0,Crashed into a mountain 20 miles south of the ...
02/25/1962,"Portlamar, Margarita Island, Venezuela",Avensa,Porlamar - Cumana,Fairchild F-27,YV-C-EVH,0012,23.0,23.0,0.0,"Approximately 10 minutes after takeoff , for a..."
04/29/1994,"Near El Rosa, Colombia",Lineas Aereas de los Libertadores,Furatena - Quipama - Boyaca - Bogota,Cessna 208 Caravan I,HK-3479,00143,9.0,8.0,0.0,Crashed into a mountain while inbound for Bogota.
...,...,...,...,...,...,...,...,...,...,...
10/21/1926,English Channel,Imperial Airways,NaN,Handley Page W-10,G-EBMS,W10/3,12.0,0.0,0.0,The plane was on a flight from London to Paris...
06/17/1929,"Off Dungeness, England",Imperial Airways,NaN,Handley Page W-10,G-EBMT,W10/4,13.0,7.0,0.0,The plane was over the English Channel when an...
10/30/1930,"Near Neufchatel, France",Imperial Airways,"Paris, France - London, England",Handley Page W-8,G-EBIX,W8-7,6.0,3.0,0.0,Crashed into high ground in fog after losing a...
02/21/2002,"Lakhta, Russia",Military - Russian Navy,Sanofov - Lakhta,Antonov AN-26,07RED,ZR726001,20.0,17.0,0.0,The plane was making an emergency landing afte...
03/25/2000,"Huambo, Angola",Uralex,Huambo - Luanda,Antonov AN-32,D2-MAJ,ZZX3201,33.0,3.0,0.0,"The aircraft, leased from a Ukrainian company,..."

In [106]:
print(df.index.tolist())

['04/12/1973', '06/21/1996', '11/07/1960', '02/25/1962', '04/29/1994', '03/08/1968', '12/31/1970', '04/04/1975', '11/15/1964', '10/20/1977', '06/06/1996', '12/11/2004', '05/22/2001', '01/31/1971', '10/05/2004', '07/24/1992', '05/07/1964', '08/02/1984', '08/04/1998', '03/14/1957', '12/13/1993', '07/14/2001', '03/23/2005', '03/29/1979', '12/02/1968', '03/11/2007', '05/18/2004', '01/31/2003', '01/15/1963', '04/06/1994', '12/09/1982', '05/08/2003', '03/04/2004', '07/13/1998', '08/14/1972', '02/05/1972', '05/12/1998', '03/08/1962', '07/17/1998', '05/18/2005', '02/09/1992', '06/26/1988', '05/11/1993', '11/27/1996', '05/24/1991', '04/05/1996', '09/27/1942', '01/15/1934', '06/03/1973', '05/10/1990', '08/02/1979', '06/02/1980', '10/06/1996', '02/24/1994', '01/19/1960', '05/09/1982', '01/20/1992', '10/03/2003', '11/08/2003', '03/23/1938', '12/23/2002', '12/22/1995', '12/06/2004', '11/28/1976', '10/13/1973', '10/13/1971', '06/04/1962', '07/13/1963', '10/25/1962', '07/25/1991', '09/12/1990', '03/05/1967', '02/19/1973', '04/17/1964', '08/27/1990', '02/05/1990', '02/07/1968', '09/28/1992', '05/09/1962', '06/30/1967', '09/14/2002', '09/14/1999', '08/24/2001', '09/02/1983', '01/08/1948', '11/17/1980', '02/21/2008', '05/06/1988', '03/28/1950', '04/01/1970', '12/24/1999', '11/03/1977', '08/12/1963', '12/23/1979', '12/03/1993', '07/01/1948', '08/04/1955', '01/18/1986', '01/12/1951', '07/28/1962', '02/08/1963', '05/13/1948', '07/29/1997', '06/30/1994', '05/06/1971', '12/31/1968', '11/30/1961', '10/15/1987', '08/23/2000', '08/20/1957', '12/05/1931', '02/09/1938', '01/29/1936', '10/27/1972', '09/28/1983', '05/15/1958', '02/27/1964', '09/30/1975', '01/25/1929', '12/02/1977', '01/22/1952', '06/09/1995', '01/22/1959', '09/08/1989', '09/27/1973', '08/08/1989', '08/01/1948', '01/29/1957', '10/25/1999', '01/10/1954', '05/02/1953', '04/08/1954', '03/03/1953', '03/10/1989', '07/05/1992', '10/22/1978', '10/24/1999', '10/22/1958', '12/03/1928', '03/21/1994', '06/11/1931', '07/03/1970', '11/23/1961', '07/27/1963', '10/12/1967', '12/21/1961', '03/20/1963', '07/19/1962', '12/16/2003', '03/20/1955', '09/04/1964', '06/22/2000', '08/06/1991', '09/12/1961', '12/22/1973', '02/21/1948', '08/06/1966', '08/15/2002', '01/25/1970', '07/17/1955', '07/26/1969', '04/25/1994', '03/02/1986', '03/26/1981', '03/09/2009', '09/23/1991', '03/23/1990', '09/03/1991', '09/06/1984', '01/14/1983', '02/14/1990', '09/01/1999', '03/14/1953', '03/05/1959', '05/03/1995', '06/29/1972', '10/27/1984', '12/11/1988', '08/19/1996', '11/11/1998', '11/22/1994', '07/20/1939', '07/10/1930', '05/27/1979', '08/15/1958', '04/10/1953', '07/01/1947', '11/01/1958', '07/08/1964', '09/12/1969', '06/26/1991', '08/14/1974', '11/04/1929', '06/23/1967', '11/11/1990', '09/17/1908', '12/07/1936', '11/15/1929', '07/07/1940', '01/17/1951', '11/08/1940', '02/08/1979', '12/18/1966', '06/30/2008', '01/24/1950', '06/25/1958', '01/13/1962', '07/01/2002', '06/15/1951', '06/04/1976', '05/19/1973', '06/20/1944', '05/29/1973', '02/12/1979', '08/14/1946', '12/29/1972', '06/10/1960', '04/20/1985', '08/15/1991', '03/23/2007', '07/30/1992', '11/04/1976', '02/28/1967', '01/27/1977', '02/03/1959', '06/26/1959', '10/14/2004', '08/06/1970', '10/25/1991', '11/13/1951', '10/19/1988', '08/12/1972', '12/23/1936', '01/02/1949', '09/23/1961', '10/12/1962', '05/24/1950', '08/09/1958', '06/01/1976', '12/24/1961', '01/16/1958', '02/12/1990', '08/25/1989', '04/21/1969', '11/09/1945', '03/31/1956', '12/01/2001', '03/25/1978', '12/06/1971', '12/18/1949', '07/10/2006', '06/02/1970', '10/13/1996', '04/16/1972', '02/20/2003', '05/10/1961', '03/19/1932', '06/23/1950', '02/07/1966', '08/28/1944', '08/16/1986', '10/02/1955', '06/03/1967', '10/08/1965', '09/14/1986', '01/15/1976', '12/08/1967', '07/06/1967', '06/29/1972', '12/15/2008', '02/07/1953', '06/03/1955', '01/27/1990', '07/09/1964', '12/30/1958', '12/22/1962', '12/16/1980', '10/30/1972', '04/27/1967', '07/23/1954', '05/09/1970', '12/08/1972', '10/08/1947', '03/28/1964', '10/26/1947', '12/06/1952', '07/24/1978', '10/28/1960', '11/15/1956', '02/03/1989', '07/21/1951', '09/14/1978', '12/30/1970', '10/23/1986', '08/29/1970', '05/30/1984', '04/04/1954', '03/08/1969', '09/26/1970', '06/21/1987', '01/21/1967', '11/04/1959', '05/25/1969', '04/04/1997', '04/25/1951', '11/30/2004', '02/08/1999', '08/14/1996', '11/28/1949', '03/11/1951', '05/09/1991', '01/06/1957', '12/26/1994', '06/30/1975', '03/16/1975', '10/27/1948', '09/02/1998', '09/24/1955', '06/10/1970', '05/17/2001', '07/17/1997', '06/23/1959', '09/07/1974', '04/14/1997', '12/12/1963', '01/10/1968', '01/23/1971', '07/24/1996', '05/21/1972', '02/15/1947', '01/09/1985', '01/15/2009', '05/26/1988', '09/28/1968', '02/05/1986', '08/23/1988', '08/05/1984', '02/17/1979', '10/08/1946', '08/24/1998', '09/24/1959', '11/06/1952', '04/26/1992', '09/14/1993', '02/21/1982', '10/12/1985', '04/11/1952', '09/12/1959', '07/24/1974', '01/12/1999', '05/05/1989', '02/05/1960', '11/24/1951', '11/07/1952', '11/13/1950', '09/12/1988', '11/15/1952', '06/17/1961', '09/10/1992', '06/05/2000', '04/06/2009', '08/12/1958', '12/08/1987', '07/02/1937', '07/20/1981', '03/24/1984', '06/28/1989', '09/26/1950', '03/17/1960', '01/27/1979', '11/11/2002', '10/03/1978', '01/26/1950', '01/27/1998', '06/26/1994', '01/02/1961', '09/24/1972', '01/14/1970', '07/02/1999', '06/18/1994', '09/23/1959', '01/02/1952', '03/26/2001', '05/03/1986', '11/09/1995', '10/04/1960', '09/20/1950', '08/13/2008', '03/31/1931', '12/13/1992', '05/29/1947', '06/10/1986', '07/03/1997', '12/10/1947', '10/11/1987', '10/14/1931', '11/26/1962', '03/12/1975', '03/19/1954', '07/06/1977', '11/23/1962', '03/07/1999', '07/08/2007', '05/20/1958', '03/20/1986', '12/18/1995', '01/26/1942', '08/04/1965', '12/05/1999', '12/19/1979', '12/24/1971', '09/20/1969', '07/10/1975', '10/08/1992', '09/29/1959', '04/25/1970', '12/12/1961', '05/03/1968', '12/24/1937', '01/27/1993', '04/15/1992', '02/03/1992', '06/28/1984', '03/23/1993', '06/23/1985', '05/07/1994', '02/24/1981', '08/31/1988', '07/07/1980', '05/24/1995', '02/06/1987', '11/11/1991', '12/06/1984', '07/19/1994', '08/04/2006', '03/01/1988', '01/05/2000', '07/24/2007', '09/14/1999', '10/28/1976', '01/22/1976', '02/27/1975', '10/07/1983', '03/14/1980', '09/13/1996', '06/03/1977', '12/11/2004', '06/20/1977', '04/18/1984', '10/09/1985', '12/23/1972', '01/31/1978', '01/01/1974', '09/02/1981', '06/17/1999', '11/14/1988', '12/09/1997', '11/19/1984', '01/13/2005', '08/14/1995', '11/01/1996', '08/22/2007', '05/06/1989', '01/23/1985', '07/29/1998', '02/07/2009', '09/20/1990', '03/13/1986', '09/24/1975', '01/13/1993', '07/24/1999', '01/31/1997', '11/29/1991', '07/11/1979', '01/26/1974', '01/30/1975', '10/25/1988', '08/09/1970', '03/10/1989', '10/12/1994', '12/23/1979', '03/20/1982', '11/28/1983', '07/01/1994', '03/06/1979', '02/28/1993', '08/30/1970', '04/18/1973', '01/09/2003', '07/01/1993', '06/02/1983', '08/21/1966', '10/06/1981', '08/27/1973', '03/28/1985', '08/27/1981', '01/21/1985', '11/25/1989', '03/22/1992', '12/11/1974', '10/23/1948', '06/06/1944', '11/30/1946', '01/09/2007', '11/25/1990', '03/21/1990', '04/22/1966', '01/25/2007', '10/02/1994', '03/05/1993', '05/05/1983', '10/30/1974', '09/17/1961', '07/09/1997', '10/31/1996', '09/15/2001', '12/03/2008', '09/21/1987', '10/09/1984', '05/17/2008', '09/16/1953', '12/23/1980', '08/02/1985', '09/20/1943', '03/13/1948', '04/14/1979', '11/13/1946', '05/02/2004', '03/08/2007', '08/19/1980', '08/26/1955', '03/06/1955', '09/03/1946', '07/29/1972', '12/16/1949', '09/26/1949', '07/25/1981', '11/30/1954', '05/28/1994', '07/30/1962', '03/23/1946', '11/04/1948', '03/16/1995', '12/12/1953', '03/18/1999', '08/05/1974', '01/14/1954', '08/20/1946', '11/16/2008', '08/25/1978', '06/03/1954', '03/02/1978', '11/12/1999', '09/01/1941', '02/19/1952', '10/28/1930', '01/14/2002', '12/21/1987', '09/11/1991', '08/21/1995', '04/05/1991', '09/14/1965', '09/19/1986', '08/30/2002', '05/14/2004', '10/21/1998', '01/11/1947', '01/09/1997', '03/28/1998', '10/03/1978', '04/22/1962', '03/26/1965', '04/30/1946', '05/11/1971', '12/05/1970', '09/21/1962', '05/05/1952', '06/06/1949', '03/15/1963', '05/06/1962', '10/17/1950', '07/16/1947', '11/21/1971', '09/30/1979', '04/28/1981', '05/02/1959', '03/26/1951', '01/23/1957', '02/03/1964', '03/17/2000', '08/07/1946', '08/19/1949', '03/14/1954', '03/08/1964', '04/23/1954', '05/05/1938', '08/31/1948', '04/07/1936', '07/20/2000', '12/17/1994', '01/31/1951', '08/15/1984', '03/12/1959', '01/03/1976', '05/25/1953', '04/16/1992', '10/19/1962', '04/29/1983', '07/01/1957', '12/29/1961', '02/25/1948', '03/26/1939', '01/17/1949', '06/03/1922', '01/02/1969', '09/15/1946', '12/12/1954', '01/27/1959', '04/23/1959', '03/25/1937', '09/02/1955', '12/19/1936', '05/28/1982', '12/31/1948', '01/29/1997', '09/29/1994', '05/10/1996', '06/01/1973', '02/13/1965', '08/21/1994', '09/02/1958', '12/02/1966', '08/24/1946', '02/27/1950', '07/29/1950', '08/06/1949', '05/09/1957', '02/27/1958', '11/26/1948', '03/13/1959', '02/05/1955', '03/10/1950', '10/16/1947', '11/18/1947', '12/04/1953', '11/23/1962', '12/19/1953', '12/09/1956', '08/02/1947', '05/10/1975', '08/16/1954', '07/15/1963', '01/03/1960', '04/05/1950', '11/21/1957', '09/17/1955', '12/22/1950', '08/10/1937', '12/21/1948', '06/13/1964', '12/26/1993', '09/01/1966', '07/27/1944', '11/01/1945', '11/06/1957', '07/15/1960', '08/11/1984', '05/06/1935', '01/07/1948', '10/17/1946', '03/21/1956', '03/01/1938', '07/01/1995', '12/07/1970', '02/15/1966', '09/06/1946', '01/05/1949', '10/22/1951', '12/30/1950', '04/13/1947', '05/25/1948', '02/02/1955', '02/02/1953', '04/10/1957', '02/03/1961', '08/16/2007', '09/29/1958', '01/14/1936', '06/12/1967', '05/31/1974', '08/08/1951', '04/18/1990', '09/14/1953', '04/15/1971', '08/24/1998', '02/28/1977', '03/15/1949', '05/15/1956', '12/20/1934', '09/23/1950', '08/29/1952', '04/20/1967', '01/20/1977', '11/01/1961', '11/21/1951', '08/30/1955', '01/07/1939', '09/05/1961', '02/19/1949', '09/21/1950', '12/15/1994', '02/26/1960', '07/16/1956', '07/20/1935', '08/22/1964', '05/29/1947', '02/06/1945', '07/22/1962', '02/02/1950', '05/08/1951', '09/04/1966', '10/20/1965', '10/29/1994', '04/30/1952', '02/29/1964', '02/04/1952', '11/20/1949', '01/01/1966', '12/07/1965', '03/01/1977', '09/30/1980', '07/14/1992', '01/30/1948', '04/06/1958', '09/02/1970', '01/25/1947', '05/23/1971', '06/30/1973', '02/27/1988', '12/23/1969', '12/24/1959', '12/01/1950', '12/09/1936', '05/13/1957', '04/10/1952', '12/23/1946', '12/31/1985', '08/09/1940', '07/25/1947', '10/29/1940', '08/24/1938', '05/09/1953', '10/02/1972', '05/30/2008', '10/20/1968', '07/18/1950', '01/06/1949', '05/05/1969', '04/30/1954', '03/13/1974', '12/15/1948', '03/30/1952', '09/08/1953', '07/09/1950', '12/10/1957', '10/15/1958', '09/15/1951', '12/31/1951', '01/23/2001', '02/05/1947', '12/19/1943', '10/25/1991', '10/09/1963', '03/08/1990', '08/08/1954', '10/08/1968', '06/06/1976', '08/26/2007', '02/03/1982', '12/13/2002', '01/06/1975', '05/11/2004', '03/25/1986', '05/20/1948', '03/27/1953', '10/08/1951', '05/26/1970', '04/18/1955', '08/17/1963', '03/22/1992', '11/25/1950', '01/27/1968', '12/27/1986', '01/03/1961', '10/23/1975', '01/10/1938', '12/28/1947', '01/13/1939', '01/12/1955', '06/24/1972', '10/14/1960', '11/07/1956', '09/28/1957', '04/22/1992', '10/15/1986', '04/23/1993', '04/01/1956', '06/18/1989', '06/11/1987', '04/14/1958', '12/12/1979', '05/30/1970', '11/15/1957', '02/19/1955', '07/24/1979', '03/05/1969', '12/09/1938', '01/26/1960', '07/02/1963', '01/16/1949', '10/17/1953', '01/15/1940', '10/02/1970', '03/12/1950', '11/20/1966', '09/30/1972', '09/22/1980', '02/16/1952', '09/30/1975', '08/18/1938', '04/27/1977', '09/11/1995', '07/22/1938', '08/08/1956', '05/16/1938', '09/02/1977', '04/08/1957', '12/21/1939', '12/24/1964', '09/18/1945', '08/27/1949', '08/15/1957', '10/09/1964', '11/04/1972', '12/13/1950', '06/15/1953', '06/29/1946', '09/04/1963', '06/13/1981', '05/13/1980', '01/09/1964', '11/23/1968', '01/06/1948', '03/01/1976', '06/16/1963', '10/23/1945', '12/16/1981', '07/12/1951', '04/22/1940', '04/01/1993', '09/16/1992', '04/14/1963', '11/17/1973', '02/24/1956', '02/21/1964', '12/28/1948', '12/28/1973', '10/23/1957', '11/02/1973', '04/08/1954', '02/06/1941', '07/14/1938', '06/24/1956', '05/13/1957', '06/29/1929', '09/11/1973', '02/23/1955', '07/02/2006', '02/26/1947', '03/08/1947', '08/09/1961', '12/07/1996', '07/03/1963', '06/11/1967', '08/08/1963', '12/06/1972', '02/03/1953', '06/04/1967', '09/06/1928', '07/24/1928', '04/24/1924', '04/28/1960', '02/10/1949', '11/09/1969', '02/04/1970', '10/14/1953', '07/19/2000', '11/07/1974', '04/14/1976', '07/31/1979', '07/01/1963', '06/09/1950', '01/29/1986', '11/21/1977', '10/31/1950', '07/28/1943', '04/12/1964', '10/08/1926', '10/23/1942', '10/19/1974', '01/17/1956', '09/08/1951', '06/26/1981', '09/14/1969', '10/17/1946', '10/25/1938', '03/14/1942', '01/25/1990', '04/22/1927', '04/27/1980', '05/28/1985', '02/24/1969', '08/24/1929', '01/09/1984', '04/14/1965', '08/25/1969', '01/13/1951', '01/19/1973', '09/21/1955', '01/24/2003', '10/03/1995', '08/20/1968', '10/19/1990', '01/12/1989', '12/01/1955', '07/28/1937', '12/21/1987', '10/15/1943', '05/03/1963', '02/03/1975', '06/01/1943', '08/09/1949', '08/31/1992', '06/02/1958', '03/26/1955', '07/27/1952', '04/29/1952', '12/25/1954', '05/22/1954', '04/02/1956', '10/16/1956', '11/09/1957', '09/12/1951', '01/06/1972', '09/12/1951', '11/23/1950', '03/04/1987', '09/06/1921', '03/17/1965', '08/20/1982', '05/24/2008', '11/10/1962', '04/16/2008', '12/18/1945', '09/25/1946', '12/08/1950', '06/08/2004', '08/19/1959', '03/02/1963', '10/20/1945', '11/10/1993', '10/07/1961', '03/06/1962', '12/22/1956', '01/09/1993', '10/15/1951', '03/22/1957', '06/17/1975', '01/30/1946', '01/15/1990', '07/13/2000', '01/07/1972', '07/11/1982', '06/26/1987', '08/09/1948', '04/21/1970', '03/30/1963', '12/21/1980', '08/25/1950', '03/27/1948', '10/06/1970', '03/28/1956', '02/19/1979', '07/30/1987', '01/10/1952', '10/29/1952', '05/07/1949', '03/29/1953', '02/25/1956', '05/18/1955', '01/20/1976', '10/10/1933', '01/28/1948', '05/13/1952', '07/23/2003', '01/12/1937', '01/13/1970', '10/07/1935', '06/26/1948', '04/20/1960', '04/10/1965', '09/29/1936', '09/16/1965', '05/09/1933', '05/18/1951', '08/22/1979', '01/09/1974', '10/30/1935', '09/28/1989', '07/20/1979', '04/20/1972', '08/29/1957', '10/11/1983', '08/01/1945', '02/25/1985', '09/24/1968', '03/01/2004', '10/03/2001', '01/14/1995', '10/10/1995', '11/26/1991', '05/05/2005', '10/04/1989', '06/27/1958', '08/09/1995', '12/27/1936', '02/23/1934', '12/26/2002', '02/22/2005', '03/03/1978', '07/15/1969', '10/02/1974', '01/16/1965', '05/18/1966', '04/16/1983', '09/20/1989', '09/17/1965', '12/08/1963', '06/22/1967', '06/22/1934', '08/04/1968', '07/01/1965', '05/22/1962', '02/15/1961', '01/28/1961', '03/01/1962', '08/15/1959', '11/06/1967', '10/13/1976', '04/29/1995', '11/23/1964', '02/01/1997', '02/07/1968', '06/13/1931', '04/11/1996', '03/05/1966', '06/22/1982', '01/17/1968', '03/19/1982', '03/13/1972', '08/13/1989', '12/31/1931', '06/10/1976', '11/20/1991', '10/19/1943', '07/05/1972', '07/13/1956', '07/31/1975', '08/05/1984', '02/28/1978', '10/03/2003', '05/06/1966', '10/31/1947', '07/24/1969', '05/07/1928', '03/07/1976', '04/20/1945', '01/16/1928', '11/11/1945', '10/10/1938', '04/28/2002', '08/21/1942', '03/23/1968', '01/14/1982', '08/05/1936', '11/30/1979', '02/22/2005', '08/13/1940', '11/02/1938', '08/15/1958', '03/08/1938', '06/19/1964', '09/25/1930', '12/26/1936', '10/30/1957', '10/03/1968', '10/24/1967', '11/29/1970', '08/31/1967', '11/25/1967', '05/06/1969', '02/14/1965', '04/15/1950', '05/15/1962', '06/23/1963', '11/24/1970', '03/08/1966', '05/19/1982', '08/24/1929', '11/03/1945', '01/16/1975', '06/10/1929', '04/08/1947', '03/27/1962', '10/05/1983', '04/13/1954', '08/29/1961', '08/20/1977', '06/11/1947', '06/28/1962', '10/19/1964', '08/11/1981', '05/29/1935', '09/17/1932', '10/21/1968', '11/30/1955', '08/23/1937', '12/17/1998', '03/25/1991', '04/30/1968', '08/21/1949', '09/21/1989', '01/20/2007', '09/22/1981', '05/12/1963', '04/21/1950', '07/16/1921', '12/08/1945', '11/09/1944', '03/03/2008', '02/27/1948', '09/23/1927', '09/09/1978', '12/19/1929', '06/30/1981', '09/22/1976', '11/26/1977', '07/26/1989', '01/21/1972', '02/18/1943', '09/10/1952', '04/19/1968', '01/08/1968', '06/13/2007', '06/21/1941', '12/11/1960', '08/11/1998', '10/18/1963', '09/21/1989', '11/17/1952', '01/28/1951', '08/10/1938', '01/14/1980', '09/14/1977', '01/25/2000', '05/06/1951', '07/09/1934', '05/29/1961', '02/22/1980', '11/27/1947', '10/09/1936', '11/13/1931', '08/13/1949', '11/15/1979', '04/27/2007', '11/12/1976', '07/14/1992', '12/16/1978', '11/25/1975', '11/23/1961', '02/14/1942', '03/17/1957', '01/13/1987', '11/19/1990', '04/21/1936', '08/05/1994', '04/08/1967', '12/09/1930', '12/19/1955', '08/28/1976', '07/24/1938', '06/18/1972', '06/25/1968', '10/12/1972', '12/07/1967', '04/10/2006', '02/26/1928', '01/06/1978', '01/20/1933', '11/25/1932', '10/26/1932', '09/11/2006', '02/10/1930', '06/10/1939', '02/02/1932', '08/12/1954', '03/26/1978', '03/16/1939', '02/08/1931', '11/23/1960', '02/12/1973', '07/25/1971', '09/28/1936', '12/18/1973', '01/13/2005', '05/10/1938', '04/22/1971', '06/16/2007', '06/01/1968', '07/07/1964', '06/04/1964', '06/30/1974', '08/01/1924', '04/15/1957', '06/01/1972', '02/03/1921', '02/01/1975', '08/12/1971', '10/31/1928', '10/13/1945', '01/08/1931', '12/14/1929', '02/24/1939', '10/09/1974', '12/16/1926', '11/30/1929', '02/22/1975', '02/26/1923', '10/02/1922', '08/02/1936', '05/28/1935', '11/12/1965', '02/08/1966', '08/06/1913', '08/28/1991', '05/22/1931', '12/15/1961', '03/05/1975', '10/01/1974', '12/25/1946', '02/14/1951', '03/11/1943', '09/03/1962', '11/13/1978', '06/03/2006', '12/13/1951', '09/29/1955', '08/28/1968', '10/30/1919', '01/13/1954', '02/22/1973', '04/30/1956', '02/15/1967', '11/19/1936', '06/22/1968', '09/20/1946', '10/26/1975', '07/20/1942', '01/04/2001', '01/15/1968', '09/12/1933', '09/09/1978', '09/26/1969', '12/08/1968', '02/26/1960', '08/27/1937', '01/20/1942', '12/26/1932', '11/24/1933', '02/11/1981', '11/22/1945', '02/01/1985', '06/09/1936', '03/14/1978', '09/24/2007', '09/13/1978', '12/24/1977', '11/21/1916', '09/03/1927', '08/02/1964', '10/04/1970', '11/09/1975', '06/03/1972', '01/28/1974', '07/05/2003', '12/24/1958', '01/27/1981', '07/12/1951', '07/27/2002', '02/27/1978', '12/04/1946', '10/06/1936', '03/29/1932', '06/20/1964', '03/08/1988', '04/14/1960', '12/12/1948', '11/26/1979', '01/08/1968', '06/08/1938', '09/17/1929', '05/16/1936', '10/29/1929', '04/19/1977', '03/21/1987', '11/15/1981', '04/30/1990', '01/22/1928', '11/18/1930', '11/29/1944', '02/02/2000', '09/14/1998', '06/19/1938', '02/19/1958', '11/15/2003', '10/16/1947', '07/14/1931', '04/17/1936', '04/01/1981', '12/06/1968', '05/10/1946', '04/05/1978', '07/15/1965', '04/21/1945', '03/08/1926', '01/05/1929', '12/23/1957', '11/07/1975', '04/19/1968', '06/08/2009', '01/06/1969', '06/30/1972', '03/21/1932', '10/01/1977', '11/16/1927', '12/18/1943', '03/05/1990', '08/06/2008', '12/22/1934', '08/25/1976', '02/05/1954', '12/15/1981', '06/25/1945', '11/29/1972', '01/11/1979', '03/04/1977', '11/17/1988', '01/27/1973', '08/22/1942', '10/21/1935', '05/01/1939', '04/21/1921', '07/13/1946', '03/23/1963', '08/22/1936', '01/05/1947', '04/19/1928', '04/19/1985', '08/30/1932', '08/25/1975', '10/21/1977', '12/30/1989', '07/21/1980', '11/26/1983', '12/17/1996', '12/11/1941', '12/10/1981', '01/02/1969', '08/03/1936', '12/04/1935', '06/30/1945', '02/22/1972', '09/25/1978', '10/06/1927', '08/26/1969', '11/07/1920', '03/05/1915', '03/26/1952', '09/01/1920', '09/03/1976', '01/23/1945', '03/10/1981', '08/03/1980', '07/23/1999', '11/10/1933', '01/31/1929', '02/19/1973', '06/26/1975', '04/25/1944', '02/12/1926', '12/10/1946', '11/27/1947', '10/24/1978', '05/14/1923', '09/07/1925', '09/02/1928', '08/14/1921', '06/15/1967', '11/09/1940', '06/15/1965', '05/03/1975', '03/30/1917', '07/06/1997', '09/21/1984', '11/03/1965', '06/25/1952', '10/27/1979', '07/27/1950', '12/23/

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5268 entries, 04/12/1973 to 03/25/2000
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       5268 non-null   object
 1   Operator       5268 non-null   object
 2   Route          5268 non-null   object
 3   Type           5268 non-null   object
 4   Registration   5268 non-null   object
 5   Serial_Number  5268 non-null   object
 6   Aboard         5268 non-null   float64
 7   Fatalities     5268 non-null   float64
 8   Ground         5268 non-null   float64
 9   Summary        5268 non-null   object
dtypes: float64(3), object(7)
memory usage: 452.7+ KB

In [109]:
df.describe()

            Aboard   Fatalities       Ground
count  5268.000000  5268.000000  5268.000000
mean     27.447798    20.027145     1.602126
std      43.018235    33.173297    53.875057
min       0.000000     0.000000     0.000000
25%       5.000000     3.000000     0.000000
50%      13.000000     9.000000     0.000000
75%      30.000000    23.000000     0.000000
max     644.000000   583.000000  2750.000000

In [110]:
df

,Location,Operator,Route,Type,Registration,Serial_Number,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,
04/12/1973,"Moffett AFB, California",Military - U.S. Navy,Training,Lockheed P-3C Orion /Convair CV-990,N711NA / 157332,/ 185-5547,16.0,15.0,0.0,Mid-air collision while landing. Five of 6 on ...
06/21/1996,"Shanghai, China",China Flying Dragon Aviation (Feilong Airlines),Dalian - Shanghai,Harbin Yunshuji Y-12-II,B-3822,0001,12.0,2.0,0.0,The aircraft crashed into a mountain after dev...
11/07/1960,"Near Quito, Ecuador",AREA,Guayaquil - Quito,Fairchild F-27A,HC-ADV,0001A,37.0,37.0,0.0,Crashed into a mountain 20 miles south of the ...
02/25/1962,"Portlamar, Margarita Island, Venezuela",Avensa,Porlamar - Cumana,Fairchild F-27,YV-C-EVH,0012,23.0,23.0,0.0,"Approximately 10 minutes after takeoff , for a..."
04/29/1994,"Near El Rosa, Colombia",Lineas Aereas de los Libertadores,Furatena - Quipama - Boyaca - Bogota,Cessna 208 Caravan I,HK-3479,00143,9.0,8.0,0.0,Crashed into a mountain while inbound for Bogota.
...,...,...,...,...,...,...,...,...,...,...
10/21/1926,English Channel,Imperial Airways,Training,Handley Page W-10,G-EBMS,W10/3,12.0,0.0,0.0,The plane was on a flight from London to Paris...
06/17/1929,"Off Dungeness, England",Imperial Airways,Training,Handley Page W-10,G-EBMT,W10/4,13.0,7.0,0.0,The plane was over the English Channel when an...
10/30/1930,"Near Neufchatel, France",Imperial Airways,"Paris, France - London, England",Handley Page W-8,G-EBIX,W8-7,6.0,3.0,0.0,Crashed into high ground in fog after losing a...
02/21/2002,"Lakhta, Russia",Military - Russian Navy,Sanofov - Lakhta,Antonov AN-26,07RED,ZR726001,20.0,17.0,0.0,The plane was making an emergency landing afte...
03/25/2000,"Huambo, Angola",Uralex,Huambo - Luanda,Antonov AN-32,D2-MAJ,ZZX3201,33.0,3.0,0.0,"The aircraft, leased from a Ukrainian company,..."